<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet" />
    <title>Proyecto Integrador - Contacto</title>
  </head>
  <body>
    <h1>Proyecto Integrador - Contacto</h1>

    <!-- footer -->
    <footer>
      <div class="section-about-us__content footer-top">
        <p>Para servicio al cliente, por favor <a href="./contacto.html">contáctenos.</a></p>
        <div class="logo-cont">
          <img src="../img/logo-color-bg-transparent.svg" class="logo" alt="logo" />
        </div>
        <div class="icon">
          <p class="icon__text">Síguenos</p>
          <div class="icon-cont">
            <a href="https://www.facebook.com/" class="icon__link" target="_blank"
              ><img src="../img/facebook.svg" alt="facebook"
            /></a>
            <a href="https://x.com/?lang=es" class="icon__link" target="_blank"
              ><img src="../img/x.svg" alt="Twitter"
            /></a>
            <a href="https://www.instagram.com/" class="icon__link" target="_blank"
              ><img src="../img/instagram.svg" alt="instagram"
            /></a>
            <a href="https://www.youtube.com/" class="icon__link" target="_blank"
              ><img src="../img/youtube.svg" alt="youtube"
            /></a>
            <a href="#" class="icon__link" class="icon__link" target="_blank"
              ><img src="../img/location.svg" alt="ubicacion"
            /></a>
          </div>
        </div>
      </div>
      <div class="footer-fixed">Copyright 2024 - WC2 - willconde2@hotmail.com</div>
    </footer>

    <script type="module" src="/main.js"></script>
  </body>
</html>
